<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>
</head>
<body>
    <section>
        <h2>Your Overtraining Score </h2>
        <p>{{ score }}</p>
    </section>

    <section>
        <h2> your Data History</h2>
        <ul>
            {% for entry in history %}
                <li>
                    {{entry.dateinput}} - Heart Rate: {{ entry.heart_rate }}, Sleep: {{ entry.sleep }}, Score: {{ entry.score }}
                </li>
            {% endfor %}
        </ul>
    </section>

    <a href = "/submit_data"> Submit New Data</a>
    <form action ="/logout" method = "POST">
        <button type = "submit">Logout</button>
    </form>
    <section>
        
        <h2> Score chart</h2>
        <p> your overtrianing score over time </p>
        
        <canvas id = "scoreChart" width = "900" height = "400"></canvas>
        <script>
    
        var ctx = document.getElementById('scoreChart').getContext('2d');
        var scoreChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ chart_labels | tojson }},
                datasets: [
                {
                    label: "Overtraining score",
                    data: {{ chart_scores | tojson }},
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }
                ]
            },
            options: {
                responsive: false
            }
        });

    </script>

        
    
    </section>
    
</body>
</html>