<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devicce - width, initial-scale=1.0">
    <title>Login & Overtraining Input</title>  
    <link href = {{ url_for('static', filename='login.css') }} "rel  = stylesheet" />
  </head>
  <body>
    <h2>Login</h2>  
    <form action = "/login" method = "POST"> 
      <input type="text" placeholder="Username" id="username" required>
      <input type="password" placeholder="Password" id="password" required>
      <button type="submit"> Login</button>
    </form>
    
    {% if error %}
    <p style="color:red">{{ error }}</p>
    {% endif %}

    

    
    </form>
    <div id="calibration-error-message" style="color:red ;none;"></div>

    <h2>Daily Input</h2>
    <form action = "/submit_data" method = "POST">       
      <input type="number" placeholder="Resting Heart Rate" id="heart_rate" required>
      <input type="number" placeholder="Sleep (hours)" id="sleep" required>
      <button type="submit">Submit Daily Data</button>
    </form>
    <h2>Calibration</h2>
    <form action="/calibrate_data" method = "POST">
      <input type="number" placeholder="Day 1 Resting Heart Rate" id="day1_hr" required>
      <input type="number" placeholder="Day 2 Resting Heart Rate" id="day2_hr" required>
      <input type="number" placeholder="Day 3 Resting Heart Rate" id="day3_hr" required>
      <input type="number" placeholder="Day 1 Sleep (hours)" id="day1_sleep" required>
      <input type="number" placeholder="Day 2 Sleep (hours)" id="day2_sleep" required>
      <input type="number" placeholder="Day 3 Sleep (hours)" id="day3_sleep" required>
      <button type="submit">Submit Calibration</button>
    </form>
    


    
     
  </body>
</html>